{%  extends 'base.html' %}
{%  block title %}
Головна
{%  endblock %}

{%  block content %}
<h1>Головна</h1>
<div style="display: flex; flex-wrap: wrap; justify-content: flex-start; gap: 20px; padding: 20px;">
    {% for item in items %}
    <div style="border: 1px solid #ccc; padding: 10px; border-radius: 8px; width: 300px;">
        <h3>{{ item.title }}</h3>
        <a href="{{url_for('get_gif', id=item.id)}}"
        download="{{item.title}}.gif"
        class="gif-kachka">
            <img src="{{ url_for('get_gif', id=item.id) }}" class="main-gif" style="width: 100%; height: 250px;">

            <div class="skachka-overlay">
                <img src="{{ url_for('static', filename='img/download_icon.png') }}" alt="" style="width: 60px; height: 60px;">
            </div>
        </a>
        <!--ТУТ ТАКОЖ треба ЗАМІНИТИ Secret на нік "АДМІНА"-->
        {% if current_user.is_authenticated and current_user.username == 'Secret'%}
        <div style="margin-top: 20px; text-align: center;">
            <a href="{{ url_for('delete_gif', id=item.id) }}"
               class="btn btn-sm btn-danger"
                onclick="return confirm('ТОчно хочешь її викинути?)">
                Викинути
            </a>
        </div>

    {% endif %}</div>
    {% endfor %}
</div>

{%  endblock %}