{%  extends 'base.html' %}

{%  block title %}
Головна
{%  endblock %}

{%  block body %}
<h1>Головна</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Dolor ex iusto nisi temporibus.</li>
<li>Aspernatur culpa cum ducimus veritatis!</li>
<li>Amet consequuntur id iusto optio?</li>
<li>Molestiae, quae, rerum! Modi, porro!</li>
<li>Blanditiis eos fuga maiores vero?</li>
<li>Aliquam itaque nihil numquam quasi?</li>
<li>Dolorem itaque nemo quisquam. Autem.</li>
<li>Eos ex ipsa maiores nemo!</li>
<li>Itaque laboriosam neque quas unde?</li>
<li>Ad at in sequi soluta!</li>
<li>Dolor in laborum nulla optio!</li>
<li>Doloribus esse ipsa labore quidem!</li>
<li>In incidunt optio vel veniam.</li>
<li>Enim omnis placeat tempore voluptatem.</li>
<li>Asperiores neque possimus quo rerum.</li>
<li>Accusamus aperiam corporis eligendi in!</li>
<li>Accusamus enim iure quas tenetur!</li>
<li>Adipisci deleniti iure similique suscipit.</li>
<li>Esse est laboriosam rerum velit.</li>
<li>Architecto asperiores harum neque porro!</li>
<li>Distinctio exercitationem odit optio perferendis!</li>
<li>Cupiditate error nostrum ratione voluptate.</li>
<li>Blanditiis cupiditate dolor itaque nam!</li>
<li>Dolor esse est officia quas!</li>
<li>Aliquid commodi delectus sit vero?</li>
<li>Dolorum earum nulla quasi voluptatum!</li>
<li>Animi debitis deleniti nulla voluptates.</li>
<li>Beatae eius odio repellendus reprehenderit.</li>
<li>Ipsum nam perferendis quam voluptatibus!</li>
<li>Laboriosam necessitatibus obcaecati reiciendis vero!</li>
<li>Aut commodi exercitationem mollitia sint?</li>
<li>Amet cumque enim vitae voluptates?</li>
<li>Atque commodi doloremque eos molestias?</li>
<li>Dolorem doloribus eum libero omnis.</li>
<li>Tempora, tempore, vero! Adipisci, veniam!</li>
<li>Commodi consequuntur minus sapiente veniam.</li>
<li>Cum excepturi incidunt repellendus? Odio!</li>
<li>Aspernatur ducimus nam necessitatibus ratione?</li>
<li>Dicta itaque neque possimus voluptatum!</li>
<li>Architecto doloremque eveniet molestiae ullam?</li>
<li>Aspernatur consequuntur earum numquam similique.</li>
<li>Ad dolores dolorum eos numquam?</li>
<li>Dolorum fugit necessitatibus quam soluta.</li>
<li>Animi eius ratione sed sit?</li>
<li>Beatae enim eveniet qui quidem.</li>
<li>Alias dolorem excepturi itaque quas.</li>
<li>Asperiores nemo quam ratione ut.</li>
<li>Dolores quas recusandae rem tempore?</li>
<li>Accusantium iure laudantium obcaecati. Tempora.</li>
<li>Consectetur cum in numquam veritatis.</li>
<li>Cum neque quibusdam sequi suscipit!</li>
<li>Asperiores expedita molestiae placeat repellendus.</li>
<li>A atque eius iste possimus.</li>
<li>Distinctio excepturi explicabo officiis tenetur.</li>
<li>Doloremque, enim excepturi. Autem, deserunt?</li>
<li>A iure odio repellendus vitae.</li>
<li>Inventore magnam minima quisquam ut?</li>
<li>Consequuntur nam nemo officia sint.</li>
<li>Maxime modi odio sed temporibus!</li>
<li>Ad adipisci eaque illo odit!</li>
<li>Consectetur debitis fuga maiores neque.</li>
<li>Beatae quam repudiandae sed temporibus.</li>
<li>Accusamus dolor esse laborum reprehenderit.</li>
<li>Consequuntur distinctio magni nesciunt voluptatibus.</li>
<li>Eligendi officiis tenetur ut vero!</li>
<li>Architecto iure laboriosam recusandae sequi!</li>
<li>Et excepturi facere minima voluptatum.</li>
<li>Debitis minima nihil quis soluta!</li>
<li>Blanditiis delectus laborum placeat tenetur?</li>
{%  endblock %}